{% extends "layout.html" %}

{%- block page_title -%}
Links
{%- endblock -%}

{% block content %}
    <div class="content-wrap article">
        <div class="link">
            {% for link in links -%}
            <a href="{{ link.url }}">
                <div class="link-item">
                    <div class="link-img">
                        <img src="{% if link.img %}{{ link.img }}{% else %}//img.virzz.com/deafult.jpg{% endif %}" alt="{{ link.name }}">
                    </div>
                    <div class="link-title">
                        <i class="fa fa-link"></i>&nbsp; {{ link.name }}
                    </div>
                    <div class="link-info">{{- link.info -}}</div>
                </div>
            </a>
            {% endfor -%}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"></script>
<script>
    $( document ).ready( function() {
        $('.link').masonry({
          itemSelector: '.link-item',
          columnWidth: 233,
          percentPosition: true,
          gutter: 20,
          isAnimated: true
        });
    });
</script>
{% endblock %}
