{% extends "layout.html" %}

{%- block page_title -%}
Links
{%- endblock -%}

{% block content %}
    <div class="content-wrap">
        {% for link in links -%}
        <article class="article animated fadeIn">
            <div class="article-title">
                <i class="fa fa-link"></i>&nbsp;<a href="{{ link.url }}">{{ link.name }}</a>
            </div>
            {#
            <!-- <div class="article-meta">
                <div class="article-date">
                    <i class="fa fa-calendar"></i>&nbsp; {{ link.info }}
                </div>
            </div> -->
            #}
        </article>
        {% endfor -%}
    </div>
{% endblock %}

{# % block javascripts %}
<script>
    $(document).ready(function(){
    });
</script>
{% endblock % #}
